@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
}
.container{
    background-color: black;
    color: white;
    width: 100vw;
    height: 100vh;
    display: flex;
}
.left{
    width: 25vw;
    height: 100vh;
    border: 1px solid white;
    border-radius: 10px;
    background-color: black;
}
.right{
    width: 75vw;
    height: 100vh;
    border: 1px solid white;
    border-radius: 10px;
    /* background-color: white; */
    
}

.left .header{
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 10px;
}

.home{
    display: flex;
    gap: 20px;
    align-items: center;
}
.search{
    display: flex;
    gap: 20px;
    align-items: center;
}
.library{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 10px;
    padding-left: 30px;
    margin-top: 10px;
}
.l-l{
    display: flex;
    align-items: center;
    font-size: 10px;
    gap: 15px;
}
.l-r{
    margin-right: 20px;
}