.invert{
    filter: invert(1);
}

::-webkit-scrollbar {
    width: 12px; /* Width of the scrollbar */
    background-color: #333; /* Background color of the scrollbar track */
}

::-webkit-scrollbar-thumb {
    background-color: #555; /* Color of the scrollbar thumb */
    border-radius: 6px; /* Rounds the corners of the scrollbar thumb */
}

::-webkit-scrollbar-thumb:hover {
    background-color: #777; /* Color of the scrollbar thumb when hovered */
}